.create-post {
  padding: 1rem;
}
.back-button {
  position: absolute;
  background-color: var(--background-color);
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  &--icon {
    height: 1rem;
    width: 1rem;
    color: var(--text-color);
  }
}
.post {
  &--content {
    margin: 1rem;
    border: 1px solid $primary-color;
  }
  &--button {
    margin: 1rem;
  }
}
