:root {
  --background-color: #f2f2f2;
  --background-color2: whitesmoke;
  --background-color3: white;
  --background-color4: whitesmoke;
  --background-color-text-content: white;
  --background-focus: rgb(228, 242, 255);
  --text-color: #122442;
  --text-color-content: black;
  --marked-color: $text-color;
  --background-image: linear-gradient(-127deg, #333333, #080f1b);
  --color-links: #005aff;
}

[data-theme="darkMode"] {
  --background-color: #1e1e1e;
  --background-color2: rgb(54, 54, 54);
  --background-color3: rgb(34, 34, 34);
  --background-color-text-content: whitesmoke;
  --background-focus: rgb(71, 108, 141);
  --text-color: #f2f2f2;
  --text-color-content: #122442;
  --marked-color: #f2f2f2;
  --background-image: linear-gradient(-127deg, #0b1424, #080f1b);
  --color-links: #ffe550;
}

#app {
  width: 100vw;
  overflow-x: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: var(--background-color);
}

html {
  background-color: var(--background-color);
  overflow-x: hidden;
  width: 100vw;
}

body {
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--background-color);
}

hr {
  color: var(--text-color);
}

.home {
  margin: 1em;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $secondary-color;

    &.router-link-exact-active {
      color: $secondary-color;
    }
  }
}

html {
  height: auto;
  min-height: 100vh;
  background-size: cover;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

h2 {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}

h3 {
  font-family: $terciary-font;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.text {
  color: var(--text-color);
}

a.link {
  color: var(--color-links);
  text-decoration: none;
}

a {
  &:focus {
    background-color: var(--background-focus);
    color: black;
    border: black 1px dashed;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: var(--background-focus);
    color: black;
    border: black 1px dashed;
  }
}

.button-collapse {
  background-color: var(--background-color3);
  border-radius: 50px;
  padding: 0.5rem 2rem;
  transition: $standard-transition;
  :hover {
    transition: $standard-transition;
    transform: scale(1.1);
    color: $secondary-color;
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.collapsible {
  &--button {
    background-image: var(--background-image);
    color: white;
    padding: 0px 2rem;
    margin: 1rem;
    border-radius: 1rem;
    h2 {
      text-align: center;
    }
  }
}

.ql-editor::placeholder {
  color: white;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }
  .collapsible {
    &--button {
      h2 {
        text-align: left;
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 32px;
  }
}
